
       
      <div class="row" style="background-color: white; padding-left: 200px; padding-top: 40px;">
        <div class="col"><h1>Contact</h1></div>
    </div> 
       <div class="row" style="background-color: white; padding-left: 200px; padding-right: 150px;">
        <div class="col"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, maiores. Quo fugit molestiae quas
        voluptatem impedit perspiciatis eligendi ab praesentium! Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. </p></div>
    </div>
      



</div>
<div class="row" style="background-color: white; justify-content: center;">
 

    <div class="col-6" style="background-color: rgb(189, 192, 192); margin-bottom: 30px; border-radius: 5px; ">
        <div class="row">
            <div class="col-4" style="margin-top: 28px;display: flex;
                    flex-direction: row;
                    justify-content: flex-end;">Your E-mail</div>
            <div class="col-8">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Your email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4" style="margin-top: 28px;display: flex;
                    flex-direction: row;
                    justify-content: flex-end;">Your message</div>
            <div class="col-8">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here"></textarea>
                </div>
                <div class="mb-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        
                        <button class="btn btn-primary" type="button">Submit</button>
                      </div>
                </div>
            </div>
        </div>

    </div>
</div>




</div>



<!-- your html code here -->